{% load static %}
<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-16">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <title>Reciclaje</title>
    </head>
<body class="container mt-5">
    <div class="alert alert-info display-1 text-center">SISTEMA DE RECICLADO</div>

    <a href="admin/" class="btn btn-info">Administrador</a>
     <a href="accesoLogin/" class="btn btn-info">Iniciar sesión</a>
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://0.0.0.0:8000/">Inicio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://0.0.0.0:8000/puntos2/">Puntos de reciclaje</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:8000/incentivos2/">Ver Incentivos</a>
              </li>


              <li class="nav-item">
                <a class="nav-link" href="https://www.google.com/maps">Google Maps</a>
              </li>

            <li class="nav-item"></li>
              <a class="nav-link" href="http://0.0.0.0:8000/muni2/">Municipalidades Unidas</a>
            </li>
            
             
            </ul>
          </div>
        </div>
    </nav>
    <div class="container mt-5 display-1">
      <img src="/static/images/fotoderteciclaje.jpg" style="width: 100%;">
    </div>
    <div class="card mb-3 mt-4" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/static/images/reciclajeimage1.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Objetivo de ReciclAPP</h5>
            <p class="card-text">La página web contiene información acerca de los puntos de reciclaje de una comuna, ubicación, precio de cada residuo, aquí el usuario tendrá toda la información para comenzar a reciclar de manera fructífera.</p>
            <p class="card-text"><small class="text-body-secondary">Administrador</small></p>
          </div>
          <div class="card text-bg-success mt-4" style="max-width: 600px;">
            <div class="card-header">Informate</div>
            <div class="card-body">
              <h5 class="card-title">Municipalidades unidas</h5>
              <p class="card-text">En municipalidades unidas se encuentran las municipalidades asociadas al proyecto y cuales forman parte de los incentivos e interacciones con las personas que se atreven a reciclar.</p>
            </div>
          </div> 
          <div class="card text-bg-danger mt-4" style="max-width: 600px;">
            <div class="card-header">Privilegios</div>
            <div class="card-body">
              <h5 class="card-title">Cuenta con privilegios</h5>
              <p class="card-text">Se pueden ver los puntos de recolección de una comuna en la página web y sus informaciones, pero si quieres empezar a reciclar y ganar incentivos por parte de la municipalidad debes crear un perfil en inicio de sesión arriba!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">ReciclAPP</p>

    
</body>


